<form action="/payment/results">

<label for="hippo">APR</label>

<input id="hippo" type="text" name="users_apr">

<label for="lion">Number of years</label>

<input id="lion" type="text" name="users_years">

<label for="leopard">Principal</label>

<input id="leopard" type="text" name="users_principal">

<button>Calculate monthly payment</button>

</form>
